---
import Layout from "../layouts/Layout.astro";
import { FAQ_PAGE } from "../const.js";

const { FAQ_PAGES } = FAQ_PAGE;
---

<Layout
	headline={FAQ_PAGE.headline}
	title={FAQ_PAGE.title}
	description={FAQ_PAGE.description}
>
	<div class="questions_wrapper">
		{
			FAQ_PAGES.map((item) => (
				<a href={item.pathname} class="item_link">
					<h1>
						{item.question}
						<span style="color: orange;">&#8611;</span>
						<p class="preview_text">
							{item.answer.slice(0, 50)}... <span>read more</span>
						</p>
					</h1>
				</a>
			))
		}
	</div>
	<div style="text-align: center; font-size: 2rem;">🚧 Under Construction</div>
</Layout>
<style>
	.questions_wrapper {
		padding-top: 1rem;
	}

	.item_link > h1 {
		background-color: #3c4043a4;
		padding: 0.75rem;
		border-radius: 4px;
		line-height: 0.88;
	}

	.item_link > h1:hover {
		background-color: #3c4043;
	}

	.item_link > h1:hover > p > span {
		text-decoration: underline;
	}
	.item_link {
		color: white;
	}
	.item_link:visited {
		text-decoration: none;
		color: white;
	}
	a {
		text-decoration: none;
	}
	.preview_text {
		padding: 0;
		margin: 0;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 400;
		line-height: 0.9;
		text-transform: lowercase;
	}

	@media (min-width: 768px) {
		.item_link > h1 {
			font-size: 3rem;
		}
		.preview_text {
			font-size: 1.2rem;
			font-weight: 300;
		}
	}
</style>
