---
import CallButton from "../components/CallButton.astro";
import Layout from "../layouts/Layout.astro";
import { SERVICES_PAGE } from "../const.js";
import BaseHead from "../components/BaseHead.astro";

const { content, title, description } = SERVICES_PAGE;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<title>{title}</title>
	</head>
	<Layout headline="AUTO SERVICES">
		<p class="services_page_subheading">
			ROCKVILLE SPECIALISTS IN COLLISION AND AUTO BODY REPAIR
		</p>
		<div style="text-align: center;">
			<CallButton />
		</div>
		<div class="services_items_wrapper">
			{
				content.map((post) => (
					<div class="services_item">
						<h1 class="services_item_title">
							{post.title}
							<span style="color: orange;">&#8611;</span>
						</h1>
						<p class="services_item_description">{post.description}</p>
					</div>
				))
			}
		</div>
	</Layout>
	<style>
		.services_page_subheading {
			margin: 0.5rem 0;
			color: white;
			font-size: 1rem;
			text-align: center;
			line-height: 1.5rem;
		}

		.services_items_wrapper {
			display: flex;
			flex-wrap: wrap;
			gap: 1.5rem;
			margin-top: 1rem;
		}

		.services_item {
			width: clamp(20rem, 50%, 30rem);
			flex: 1 1 auto;
			color: white;
			border: 1px solid white;
			padding: 1rem;
			background: linear-gradient(
					to left,
					rgba(255, 187, 0, 0) 50%,
					rgba(255, 174, 0, 0.297) 50%
				)
				right;
			background-size: 200%;
			transition: 0.5s ease-out;
		}

		.services_item:hover {
			background-position: left;
		}

		.services_item_title {
			font-size: 2.2rem /* 60px */;
			line-height: 1;
			font-weight: 700;
		}

		.services_item_description {
			font-size: 1.25rem /* 20px */;
			line-height: 1.5rem /* 36px */;
			padding: 1rem 0;
		}

		@media (min-width: 768px) {
			.services_page_headline {
				font-size: 3rem;
				line-height: 3.2rem;
				margin-top: 1rem;
			}
			.services_page_subheading {
				margin-top: 1.3rem;
				font-size: 1.5rem;
			}
		}

		@keyframes fadeIn {
			from {
				transform: translateX(-100%);
				background-color: rgba(255, 200, 0, 0);
			}
			to {
				transform: translateX(0%);
				background-color: rgba(255, 200, 0, 0.2);
			}
		}
	</style>
</html>
